streamlit>=1.40.0
pillow>=11.0.0
streamlit-option-menu==0.3.6
pandas>=1.4.0
langchain
langchain-community
langchain-groq
langchain-huggingface
langchain-text-splitters
langchain-core
torchvision
mysql-connector-python
chromadb
nltk
rouge-score
rouge
psutil
torch
ragas
sacrebleu
sentence-transformers
python-dotenv
plotly
streamlit-extras
streamlit-aggrid
# to run: pip install -r requirements.txt