streamlit>=1.40.0
pillow>=11.0.0
streamlit-option-menu==0.3.6
pandas>=1.4.0
langchain==0.3.25
langchain-community==0.3.25
langchain-groq==0.2.5
langchain-huggingface==0.1.2
langchain-text-splitters==0.3.8
#langchain-core==0.3.63
torchvision
mysql-connector-python
chromadb==0.5.23
#opentelemetry-exporter-otlp-proto-grpc==1.24.0
#opentelemetry-proto==1.24.0
nltk
rouge-score
rouge
psutil
torch
ragas
sacrebleu
sentence-transformers
python-dotenv
plotly
streamlit-extras
streamlit-aggrid
# to run: pip install -r requirements.txt